
*{
  font-family: 'Kanit', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header {
width: 100%;
height: 100vh;
background: #e2e9f7;

}

.side-nav {
width:250px;
height:100%;
background: #52686a;
position:fixed;
top:0;
left:0;
padding: 20px 30px;
}

.logoo {
display:block;
margin-bottom:15px;
}
.logoo-img {
width:100px;
height:100px;
}

.nav-links {
list-style: none;
position:relative;
}

.nav-links link {
padding: 10px 0;
}

.nav-links link a {
color: #fff;
text-decoration: none;
padding: 10px 14px;
display:flex;
align-items: center;
}


.nav-links link a i {
font-size:22px;
margin-right: 209px;
}

.active {
background: #fff;
width:100%;
height:47px;
position: absolute;
left: 0;
top: 2.6%;
z-index: -1;
border-radius:6px;
box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
display:none;
transition: top 0.5s;
}

.nav-links li:hover a{
color: #0d74f5;
transition: 0.3s;
}

.nav-links li:hover p{
color: #0d74f5;
transition: 0.3s;
}

.nav-links li:hover ~ .active {
display: block;
}

.nav-links li:nth-child(1):hover ~ .active{
top: 1%;
}

.nav-links li:nth-child(2):hover ~ .active{
top: 9.1%;
}

.nav-links li:nth-child(3):hover ~ .active{
top: 17%;
}

.nav-links li:nth-child(4):hover ~ .active{
top: 24.8%;
}

.nav-links li:nth-child(5):hover ~ .active{
top: 32.7%;
}
.nav-links li:nth-child(6):hover ~ .active{
top: 40.6%;
}

.nav-links li:nth-child(7):hover ~ .active{
top: 93%;
}

.logo-icon{
display: none;
width:45px;
}
@media only screen and (max-width: 600px) {
.side-nav{
  width:110px;
}
.logo-icon {
  display:block;
}
.logoo-img {
  display: none;
}
.nav-links li a p{
  display:none;
}
.nav-links li a i{
  margin-right: 0;
}
.nav-links li a{
  justify-content: center;
}
}



.container {
width:100%;
height:100vh;
background: #314a52;
background-position: center;
background-size: cover;
}

.row {
display:flex;
height:88%;
align-items: center;
margin-left: 16%;
}

.col {
flex-basis: 50%;

}

h1 {
color: #fff;
font-size:100px;
}

p {
color: #fff;
font-size:13px;
line-height: 15px;
}

button {
width: 180px;
color: #000;
font-size: 12px;
padding: 12px 0;
background: #fff;
border:0;
border-radius: 20px;
outline: none;
margin-top: 30px;

}

.card {
width: 275px;
height: 251px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor:pointer;
margin: 10px 15px;
background-image: url(images/bitcoin-graph.PNG);
background-position: center;
background-size: cover;
transition: transform 0.5;
}

.card:hover {
transform: translateY(-10px);
}




.category-side {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.icon-list {
  height: 16px;
  width: 16px;
  display: block;
  padding: 8px 16px;
  float:left;
}

.icon-tab {
  height: 16px;
  width: 16px;
  display: inline;
  padding: 8px 16px;
}

#login-list {
margin-top:350px;
}


/*container for login/signup*/
.container-form {
width: 100%;
height: 100vh;
background: #314a52;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.card-signup {
width: 350px;
height: 500px;
border-radius: 10px;
box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
perspective: 1000px;
}

.inner-box {
position: relative;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: transform 1s;
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
background-position: center;
background-size:cover;
border-radius: 10px;
background-image: url(images/newcard-bg2.png);
padding: 55px;
box-sizing: border-box;
backface-visibility: hidden;

}

.card-back{
transform: rotateY(180deg);
}

.card-signup h2{ /* center h2 */
font-weight: normal;
font-size:24px;
text-align: center;
margin-bottom: 20px;

}

.input-box {
width:100%;
background: transparent;
border: 1px solid #fff;
margin: 6px 0;
height: 32px;
border-radius: 20px;
padding: 0 10px;
box-sizing:border-box;
outline:none;
text-align: center;
color: #fff;
}

::placeholder {
color:#fff;
font-size: 12px;
}

.btn-input, .submit-btn{
width:100%;
background: transparent;
border: 1px solid #fff;
margin: 35px 0 10px;
height: 32px;
font-size: 12px;
border-radius: 20px;
padding: 0 10px;
box-sizing:border-box;
outline: none;
color: #fff;
cursor: pointer;

}

.submit-btn {
position: relative;
}

.submit-btn::after {
content: '\27a4';
color: #333;
line-height: 32px;
font-size: 17px;
height:32px;
width: 32px;
border-radius: 50%;
background: #fff;
position: absolute;
right: -1px;
top: -1px;

}

span {
font-size: 13px;
margin-left: 10px;

}

.card-signup .btn-input {
margin-top: 70px;
}

.card-signup a {
color: #fff;
text-decoration: none;
display:block;
text-align: center;
font-size: 13px;
margin-top: 8px;
}

